@media screen and (max-width: 1200px) {
    #Desktop-Nav {
        display: none;
     }
     #Ham-nav{
        display: flex;
     }
}

/* For Mobile Phone */

@media screen and (max-width: 450px){
.Home-Profile-Pic{
        height: 150px;
        width: 150px;
}
body{
    margin-left: 60px;
}
.Logo-Png{
    height: 60px;
    width: 60px;
}
.Text-Container{
    top: 40px;
}
.Text-Box-p1{
    margin-top: 10px;
}
.Text-Box-Tittle{
    font-size: 1.5rem;
}
.Home-Sec-Container-Info{
    display: block;
    justify-self: center;
    justify-items: center;
}
/* About page */
#About{
    display:block;
    margin-top: 8vh;
    gap: 3rem;
}
.About-Container{
    display: block;
    justify-items: center;
}
.About-Details-Contatiner{
    margin-top: 10px;
    width: 320px;
    height: 400px;
    padding: 20px;
}
.Details{
    display: block;
    padding: 10px;
    width: 350px;
    font-size: 13px;
}
.About-Pic-Container{
    display: block;
    height: 200px;
    width: 200px;
    margin-top: 20px;
}
.About-Profile-Pic{
    border-radius: 30px;
    height: 200px;
    width: 200px;
}
.About-Details-Containers{
    display: flex;
    gap: 5px;
}
.Education p{
    font-size: 10px;
}
.Experience p{
    font-size: 10px;
}
.Education h1{
    font-size: 15px;
}
.Experience h1{
    font-size: 15px;
}
.Education{
    height: 160px;
}
.Experience{
    height: 160px;
}
.Skills-Btn{
    padding: 5px 10px;
    left: 20px;
    font-size: 13px;
}
.Projects-Btn{
    padding: 5px 10px;
    left: 20px;
    font-size: 13px;
}
/* Project */
.Projects-Contatiner{
    display: block;
}
#Project-Card{
    height: 400px;
    width: 300px;
    margin-top: 30px;
}
.Pro-Img{
    height: 400px;
    width: 300px;
}
.Projects-H1{
    font-size: 15px;
}
#Show-More{
    margin: 40px;
    left: 15vw;
}
}

/* For Tablet*/

@media (min-width: 450px) and (max-width:1200px){
.Home-Profile-Pic{
        height: 250px;
        width: 250px;
}
body{
    margin-left: 60px;
}
.Logo-Png{
    height: 80px;
    width: 80px;
}
.Text-Container{
    top: 40px;
}
.Text-Box-p1{
    margin-top: 10px;
}
.Text-Box-Tittle{
    font-size: 1.5rem;
}
.Home-Sec-Container-Info{
    justify-self: center;
    justify-items: center;
}
#About{
    display:block;
    margin-top: 8vh;
    gap: 3rem;
}
.About-Container{
    justify-items: center;
    gap: 20px;
}
.About-Details-Contatiner{
    margin-top: 10px;
    width: 400px;
    padding: 20px;
}
.Details{
    display: block;
    padding: 10px;
    width: 350px;
    font-size: 13px;
}
.About-Pic-Container{
    display: block;
    height: 300px;
    width: 300px;
    margin-top: 20px;
}
.About-Profile-Pic{
    border-radius: 30px;
    height: 300px;
    width: 300px;
}
.About-Details-Containers{
    display: flex;
    gap: 5px;
}
.Education p{
    font-size: 10px;
}
.Experience p{
    font-size: 10px;
}
.Education h1{
    font-size: 15px;
}
.Experience h1{
    font-size: 15px;
}
.Education{
    height: 160px;
}
.Experience{
    height: 160px;
}
.Skills-Btn{
    padding: 5px 10px;
    left: 25%;
    font-size: 13px;
}
.Projects-Btn{
    padding: 5px 10px;
    left: 20%;
    font-size: 13px;
}
}
