@media screen and (max-width: 1200px) {
    #Desktop-Nav {
        display: none;
     }
     #Ham-nav{
        display: flex;
     }
}
@media screen and (max-width: 800px){
.Home-Profile-Pic{
        height: 200px;
        width: 200px;
}

.Home-Sec-Container-Info{
    display: block;
    justify-self: center;
    justify-items: center;
}
}