/* Strcture Decoretion */
*{
     margin: 0;
     padding: 0;
     background-color: #1f242d;
     color: #fff;
}
html{
    scroll-behavior: smooth;
}
/* desktop nav */
nav, .Nav-Links{
    display: flex;
}
nav{
    justify-content: space-around;
    align-items: center;
    height: 18vh;
}
.Nav-Links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
    cursor: pointer;
}
/* Linkes Decoretion */
a{
    color: #fff;
    text-decoration-line:none ;
    transition: .5s;
}
a:hover{
    color: #7CF03D;
}
.Logo{
    display: block;
}
.Logo-Png{
    position: relative;
    right: 20px;
    height: 100px;
    width: 100px;
    animation: rotate-logo 5s linear infinite;
}
/* sections styles */
section{
    padding-top: 4vh;
    height: 100%;
    margin: 0 2rem;
}
/* Ham nav */
#Ham-nav{
    display: none;
}
.Ham-Menu{
    position: relative;
    left: 20px;
}
.Ham-Icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px; 
    cursor: pointer;
}
.Ham-Icon span{
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all 0.3 ease-in-out;
}

.Menu-Links{
    position: absolute;
    top: 100%;
    right: 0%;
    background-color: #1f242d;
    width: fit-content;
    max-height: 0;
    overflow: hidden; 
    transition: all 0.3 ease-in-out;
}
.Menu-Links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: .5cm;
    color: white;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}
.Menu-Links a:hover{
    color: #7CF03D;
    text-decoration: wavy;
    text-decoration-color: #7CF03D;
}

.Menu-Links li{
    list-style: none;
}

.Menu-Links.open{
    max-height: 300px;
}
/*ham-menu for hand devices(style)*/
.Ham-Icon.open span:first-child {
 opacity: 0;
 }

.Ham-Icon.open span:nth-child(2) {
 opacity: 1;
 transform: rotate(45deg) translate(6px, -5px);
 }
 
.Ham-Icon.open span:last-child {
 transform: rotate(-45deg) translate(10px, -5px);
 }


.Ham-Icon.open span:first-child{
    transform: none;
  }

.Ham-Icon.open span:first-child{
    opacity: 0;
  }

.Ham-Icon.open span:first-child{
    transform: none;
  }
/* Home Section */
#Home{
    display: flex;
    gap: 5rem;
    height: 80vh;
    justify-content: center;
}
.Home-Sec-Container{
    display: block;
    height: 100%;
    gap: .5rem;
}
.Home-Sec-Container-Info{
    display: flex;
}
.Home-Profile-Pic{
    display: flex;
    height: 350px;
    width: 400px;
}

/* Home Page Text Style */
.Home-Logo-Png{
    transform: rotate(0deg);
    animation: rotate-logo 5s linear infinite;
    height: 50px;
    width: 50px;
}
@keyframes rotate-logo {
    100%{
        transform: rotate(-360deg);
    }
}
.Text-Container{
    position: relative;
    top: 100px;
    text-align:center ;
    height: 250px;
    width: 400px;  
}
.Text-Container{
    position: relative;
    top: 100px;
    text-align:center ;
    height: 250px;
    width: 400px;
    
}
.Text-Box-p1{
    font-weight: 300;
    color: #fff;
    text-align: center;
}
.Text-Box-p2{
    text-align: center;
    color: #fff;
    text-align: center;
}
.Text-Box-p2{
    font-size: 1rem;
    margin-bottom: 1rem;
}
.Text-Box-Tittle{
    font-size: 1.75rem;
    text-align: center;
    color: #7CF03D;
}
/* Buttens-Styles*/
.Cv-Link{
    display: inline-block;
    padding: 10px 10px;
    bottom: 2px solid #7cf03d;
    background: #7CF03D;
    border-radius: 40px;
    box-shadow: 0 0 10px #7CF03D;
    font-size: 15px;
    color: #1f242d;
    font-weight: 600;
    transition: .5s;
}
.Cv-Link:hover{
    background: transparent;
    color: #7CF03D;
    box-shadow:#fff;
}
.Contact-Link{
    align-self: self-end;
    color: #1f242d;
    padding: 10px 10px;
    background:#fff;
    border-radius: 40px;
    box-shadow: 0 0 10px #fff;
    font-size: 15px;
    font-weight: 600;
    transition: .5s;
}
.Contact-Link:hover{
    background: #1f242d;
    color: #7CF03D;
    box-shadow: 0 0 10px #7CF03D;
}
.Btn-Box{
    align-self:center;
    display:flex;
    gap: 15px;
    position: relative;
    left: 90px;
}

/* About Section */
#About{
    display:block;
    gap: 3rem;
    height: 80vh
}
.About-P{
    font-weight: 400;
    color:#7CF03D;
    text-align: center;
}
.About-H1{
    font-weight: 600;
    color: #fff;
    font-size: 20px;
    text-align: center;
}
/* About Conatiner details */
.About-Container{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.About-Pic-Container{
    display: flex;
    height: 400px;
    width: 300px;
    margin-top: 50px;
}
.About-Profile-Pic{
    border-radius: 30px;
}
.About-Details-Contatiner{
    display: block;
    color: #fff;
    height: 600px;
    width: 700px;
    margin-top: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.About-Details-Containers{
    display: flex;
    gap: 50px;
}
.Education{
    display: block;
    border-radius: 25px;
    box-shadow: 0 0 10px #fff;
    height: 200px;
    width: 300px;
    margin: 15px;
}
.Experience{
    display: block;
    border-radius: 25px;
    box-shadow: 0 0 10px #fff;
    height: 200px;
    width: 300px;
    margin: 15px;
}
.Education h1{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    font-family: cursive;
    color: #7CF03D;
}
.Experience h1{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    font-family: cursive;
    color: #7CF03D;
}
.Education p{
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
}
.Experience p{
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
}
.Skills-Btn{
    padding: 10px 15px;
    border-radius: 20px;
    box-shadow: 0 0 10px #fff;
    position: relative;
    top: 40px;
    left: 90px;
    background:transparent;
    transition: .5s;
}
.Skills-Btn:hover{
    background:transparent;
    color: #00ffee;
    box-shadow: 0 0 10px #00ffee;
}
.Projects-Btn{
    padding: 10px 15px;
    border-radius: 20px;
    box-shadow: 0 0 10px #fff;
    position: relative;
    top: 40px;
    left: 90px;
    background:transparent;
    transition: .5s;
}
.Projects-Btn:hover{
    background:transparent;
    color: #00ffee;
    box-shadow: 0 0 10px #00ffee;
}
/* Projects Section */
#Projects{
    display:block;
    gap: 3rem;
    height: 80vh
}
.Projects-P{
    font-weight: 400;
    color:#7CF03D;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Projects-H1{
    font-weight: 600;
    color: #fff;
    font-size: 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* Projects Container Styles */
.Projects-Contatiner{
    display: flex;
    justify-content: space-evenly;
}
#Project-Card{
    height: 400px;
    width: 300px;
    border-radius: 30px;
    box-shadow: 0 0 10px #00ffee;
    margin-top: 50px;
    transition: 1s;
}#Project-Card:hover{
    box-shadow: 0 0 10px #00ffee;
    box-shadow: 0 0 20px #00ffee;
}
#Show-More{
    background-color: transparent;
    color: #fff;
    font-weight: 600;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 0 0 10px #7CF03D;
    margin-top: 30px;
    cursor: pointer;
    position: relative;
    left: 45vw;
    transition: .5s;
}
#Show-More:hover{
    box-shadow: 0 0 10px #fff;
    color: #7CF03D;
}
/* Skills Section */
#Skills{
    display:block;
    gap: 3rem;
    height: 80vh
}
.Skills-P{
    font-weight: 400;
    color:#fff;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Skills-H1{
    font-weight: 600;
    color: #7cf03d;
    font-size: 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* Services Section */
#Services{
    display:block;
    gap: 3rem;
    height: 80vh
}
.Services-P{
    font-weight: 400;
    color:#7CF03D;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Services-H1{
    font-weight: 600;
    color: #fff;
    font-size: 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.Services-Contatiner{
    display: flex;
    justify-content: space-evenly;
}
#Service-Card{
    height: 400px;
    width: 300px;
    border-radius: 30px;
    box-shadow: 0 0 10px #00ffee;
    margin-top: 50px;
    transition: 1s;
}#Service-Card:hover{
    box-shadow: 0 0 10px #00ffee;
    box-shadow: 0 0 20px #00ffee;
}
/* Contact Section */
#Contact{
    display:block;
    gap: 3rem;
    height: 80vh
}
.Contact-P{
    font-weight: 400;
    color:#fff;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Contact-H1{
    font-weight: 600;
    color: #7cf03d;
    font-size: 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.Contact-Form-Contatiner{
    height: 500px;
    width: 1000px;
    margin: 30px 400px;
    justify-content: center;
    margin-top: 50px;
}
.Input-Field{
  width: 60%;
  font-size: 20px;
  font-weight: 200;
  padding: 1rem;
  border-radius: 25px;
  border: 1.5px solid #7CF03D;
  box-shadow: 0 0 10px #7CF03D;
  margin-bottom: 50px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Contact-Button {
  display: block;
  position: relative;
  left: 25%;
  border-radius: 20px;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 10px 20px;
  box-shadow: 0 0 10px #7CF03D;
  font-size: 15px;
  cursor: pointer;
  transition: .5s;
}
.Contact-Button:hover{
    color: #7CF03D;
    box-shadow: 0 0 10px #fff;
}
.Footer{
    background-color: #333;
    padding: 5rem;
}